{{- if .Values.hpa.enabled -}}
apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ template "appname" . }}-hpa
  namespace: "{{ .Values.namespace }}"
  labels:
    {{- include "commonLabels" . | nindent 4 }}
spec:
  scaleTargetRef:
    kind: Deployment
    name: {{ template "appname" . }}
    apiVersion: apps/v1
  minReplicas: {{ .Values.hpa.minReplicas }}
  maxReplicas: {{ .Values.hpa.maxReplicas }}
  metrics:
  {{- if .Values.hpa.avgCpuUtilization }}
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: {{ .Values.hpa.avgCpuUtilization }}
  {{- end -}}
  {{- if .Values.hpa.avgRamUtilization }}
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: {{ .Values.hpa.avgRamUtilization }}
  {{- end -}}
{{- end -}}
